/* GLOBAL */

main {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  height: 69px;
  border-bottom: 1px solid #fff;
  position: fixed;
  z-index: 1;
  background: #000;
}

header img {
  height: 50px;
  margin-left: 10px;
  padding: 0;
}

/* NAV */

header nav ul li {
  display: inline-flex;
  padding: 10px;
  font-weight: 600;
  text-decoration: underline;
}

a {
  color: seashell;
}

/* MISSION SECTION */

#mission-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 1200px;
  background-image: url('/images/img-mission-background.webp');
  margin: 0 auto;
}

.mission-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}
